/* mobile */
.c-body,
.c-success-error-page {
  background-color: #0f1232;
}

a {
  text-decoration: var(--text-decoration-none);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.c-success-error-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffffff;
}

.c-success-error-page-main {
  max-width: 80%;
  height: auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px solid #8fe8ef41;
  margin-left: -30px;
}

.c-success-error-page-main h1 {
  font-size: 40px;
  padding: 20px;
  text-align: center;
  font-weight: bold; /* Adicionar negrito */
}

.c-success-error-page-main h2 {
  font-size: 23px;
  padding: 20px;
  margin: 5px;
  text-align: center;
  font-weight: bold; /* Adicionar negrito */
}

.c-success-error-page-main a {
  font-size: 20px;
  margin: 20px;
  padding: 10px 25px;
  color: #3b3;
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid transparent;
  border-bottom: 0.5rem solid #8fe8ef41;
  transition: 0.6s;
  font-weight: bold; /* Adicionar negrito */
}

.c-success-error-page-a-hover:hover {
  color: #5fdde5;
  border: 1px solid transparent;
  border-bottom: 0.5rem solid #5fdde5;
  transform: scale(1.1);
}